@charset "utf-8";
body {
	font-family:'Maven Pro','Noto Sans KR',sans-serif;
	font-size:16px;
	color:#000;
	background-color:#fff;
} 
a,a:link {
	text-decoration:none;
	color:inherit;
}
.notext {
	display:none;
}
.header_wrapper {
	border-bottom:4px solid #f9c02d;
}
#header {
	width:920px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.top_menu {
	float:left;
}
.top_menu li {
	float:left;
	margin-left:10px;
	line-height:200px;
}
.top_menu li a {
	font-size:14px;
	font-weight:500;
}
.top_menu li a:hover {
	color:#f9c02d;
	transition:1s;
}
.main_logo {
	position:absolute;
	width:299px;
	height:142px;
	left:50%;
	bottom:-1px;
	transform:translateX(-50%); 
}
.sns_menu {
	float:right;
}
.sns_menu li {
	float:left;
	margin-left:10px;
	line-height:200px;
}
.nav {
	background:#eee;
	height:50px;
	text-align:center;
}
#gnb {
	width:400px;
	margin:0 auto;
}
#gnb li {
	display:inline-block;
	margin:0 5px;
	line-height:50px;
}
#gnb li a {
	font-size:18px;
	color:#f9c02d;
	font-weight:700;
	transition:color 0.3s;
}
#gnb li a:hover {
	color:#000;
}
#youtube-movie {
	width:920px;
	height:460px;
	margin:0 auto;
	position:relative;
}
#youtube-movie iframe {
	width:100%;
	height:100%;
	border:0;
}
#movie-character {
	position:absolute;
	top:40%;
	left:50%;
	transform:translateX(-50%);
}
.main-title {
	text-align:center;
	margin-top:160px;
	font-size:30px;
	color:#f9c02d;
	font-weight:bolder;
	text-transform:capitalize;
}
#footer {
	/* 블럭요소는 가로폭 100%가 기본값이다 */
	max-width:920px; /*최대*/
	margin:0 auto;
	padding:15px 0;
	position:relative;
}
.extra_menu li {
	display:inline-block;
	font-size:15px;
	color:#888888;
}
.extra_menu li:nth-child(2) {
	margin:0 10px;
}
/* .extra_menu li:nth-child(2):after or before { */
	/* content:''; */
	/* width:1px; */
	/* height:10px; */
	/* background:#333; */
	/* display:inline-block;   글자 사이에 선을 넣는것 (드래그x 문자가 아님) */
/* } */
.extra_menu li a:hover {
	color:#000000;
	transition:1s;
}
.sub_logo {
	float:right;
	transform:translateY(-50%);
}
.copy {
	font-size:11px;
	color:#888888;
}
.about-wrapper {
	max-width:920px;
	margin:0 auto;
}
.sub-title {
	border-left:7px solid #c4c4c4;
	padding-left:15px;
	height:30px;
	line-height:30px;
	margin:30px 0;
}
.sub-title + p {  /* + : 다음에 오는 형제 요소 선택자 */
	margin:30px 0;
	line-height:173.7%;
}
#sy_img {
	max-width:100%;
}
figcaption {
	display: none; /*공간마저 남기지 않고 없앰, 표시를 아예 안함 */
	visibility: hidden; /*공간은 표시하지만 내용은 표시하지 않음 */
}
/* =============================제작사 시작=======ciList===================*/
#ciList {
	display:flex;
	justify-content:space-between;
}
#ciList li {
	position:relative;
}
#ciList .outlink {
	display: none;
	font-size:2rem; /* 부모 요소 글자크기 기분으로 2배 */
	color:#f3f3f3;
	position:absolute;
	left:50%;
	top:50%;
	width:50px;
	height:50px;
	text-align: center; /* 상자안에 아이콘 중앙으로 */
	transform:translate(-50%,-50%); /* 상자를 중앙으로 */
	line-height:50px; /* 상자안에 아이콘 중앙으로 */
	border-radius:50%; /* 상자 모서리 깎는거*/
	background-color:rgba(0,0,0,.5);
}
#ciList .hide {
	display:none;
}
#ciList > li:hover .outlink {
	display:block;
}
/* =============================등장인물 시작======about_cha===================*/
#about_cha {
	display: flex;
	flex:1 1 auto;
	justify-content:space-between;
}
#about_cha img {
	max-width: 100%;
}
#about_cha li {
	position:relative;
}
#about_cha .outlink {
	display: none;
	font-size:2rem;
	color:#f3f3f3;
	position:absolute;
	left:50%;
	top:40%;
	width:50px;
	height:50px;
	text-align: center; 
	transform:translate(-50%,-50%);
	line-height:50px;
	border-radius:50%; 
	background-color:rgba(0,0,0,.5);
}
#about_cha .hide {
	display:none;
}
#about_cha > li:hover .outlink {
	display:block;
}
#about_cha p {
	margin:30px 0;
	text-align: center;
}